.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.players-container {
  display: flex;
  justify-content: center; /* This will center the courts if there is extra space */
}

.player {
  margin: 0 10px; /* This adds space between the two courts */
}

/* You may want to add some responsive styling to handle smaller screens */
@media (max-width: 768px) {
  .players-container {
    flex-direction: column;
  }
}

